body{
  margin: auto;
}
#form{
  background-color:#ccc;
  border:1px solid grey;
  padding:10px;
}
input{
  line-height: 10px;
}
.titles p{
  line-height: 28px;
}
.titles label{
  line-height: 19px;
}
.submit{
  text-align: center;
  margin-top: 10px;
}
