a {
  text-decoration: none;
}
a:visited {
  color: black;
}
table {
  margin: auto;
}
.list th, .list td {
  width: 100px;
  height: 50px;
  text-align: center;
}
.list button {
  width: 50px;
}
.menu {
  margin-top: 30px;
}
.menu a{
  margin-right: 10px;
}
